---
layout: default
---

<div class="home">
  <div class="background-content">
    <div class="description">
      <div class="title">We are youth ministers who<br>come to your church</div>
      <span>Let us know you're interested in InterHigh today!</span>
      <div><button>Sign up for free</button></div>
    </div>
  </div>

  <div class="services-section">
    <div class="service">
    <img src="/assets/home/service-icon-youth-worship-service.svg" alt="Youth Worship Service Icon">
      <div class="title">Youth Worship Service</div>
      <div class="description">Lorem ipsum dolor sit amet, facer recusabo in nec. At dicant sententiae mei.  Ei ullum clita facete est, prima labore iudicabit eu vel</div>
    </div>
    <div class="service">
      <img src="/assets/home/service-icon-students.svg" alt="Students Icon">
      <div class="title">Middle to High School</div>
      <div class="description">Lorem ipsum dolor sit amet, facer recusabo in nec. At dicant sententiae mei.  Ei ullum clita facete est, prima labore iudicabit eu vel</div>
    </div>
    <div class="service">
      <img src="/assets/home/service-icon-small-group.svg" alt="Small Group Icon">
      <div class="title">Small Group</div>
      <div class="description">Lorem ipsum dolor sit amet, facer recusabo in nec. At dicant sententiae mei.  Ei ullum clita facete est, prima labore iudicabit eu vel</div>
    </div>
    <div class="service">
      <img src="/assets/home/service-icon-at-your-church.svg" alt="At Your Church Icon">
      <div class="title">At Your Church</div>
      <div class="description">Lorem ipsum dolor sit amet, facer recusabo in nec. At dicant sententiae mei.  Ei ullum clita facete est, prima labore iudicabit eu vel</div>
    </div>
  </div>


  <div style="height:350px;">
    <!-- TODO: placeholder for something? -->
  </div>

  <div class="locations-section">
    <nav class="location-list">
      <div class="title">We go to your church.</div>
      <ul>
        <li>SF Bay Area</li>
        <li>Austin</li>
        <li>Minneapolis</li>
        <li>LA Area</li>
      </ul>
    </nav>
    
    <!-- TODO: make this tabbed with 3 other map images -->
    <div class="map">
      <img src="/assets/home/map_sfbayarea.png" alt="SF Bay Area Map">
    </div>
  </div>

  <div class="promo-video-section">
    <div class="video"><!-- TODO: Video goes here --></div>
  </div>

  <div class="signup-section">
    <div class="title">A Youth Ministry in Every Church</div>
    <div class="description">Let us know you're interested in Interhigh today!</div>
    <div class="signup-form">
      <input type="text" placeholder="Your email address">
      <button>Sign up for free</button>
    </div>
  </div>

  <!-- Footer -->
  <div class="site-footer">
    <div class="wrapper">
      <nav class="site-nav">
        <div class="trigger">
          {% for entry in site.navigation_bar_entries %}
            {% if entry.title %}
            <a class="page-link" href="{{ entry.path | prepend: site.baseurl }}">{{ entry.title }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </nav>
    </div>
  </div>

</div>
