{% comment %}
  Usage:
  1) Make buttons with the class "signup-button" and the href "#signup-modal"
  2) At the end of your file, add the following include:
     {% include signup_modal.html %}
 
  Example:
  <button class="signup-button" href="#signup-modal">Sign up</button>
{% endcomment %}

<script type="text/javascript" src="/static/js/jquery.leanModal.min.js"></script>

<div id="signup-modal">
  <div id="signup-status"></div>
  <div id="signup-header">
    <h2>Sign me up!</h2>
    <p>Please let us know how you would like to be contacted, and we'll get back to you soon.</p>
  </div>
  
  <form id="signup-form">
    <div class="signup-field">
      <label class="signup-title">Location</label>
      <div class="row">
        <div class="small-12 medium-6 large-6 columns location-radio">
          <input type="radio" id="location-bay-area" name="region" value="Bay Area, CA" />
          <label for="location-bay-area">SF/Oakland/Bay Area, CA</label>
        </div>
        <div class="small-12 medium-6 large-6 columns location-radio">
          <input type="radio" id="location-davis" name="region" value="Davis/Sacramento, CA" />
          <label for="location-davis">Davis/Sacramento, CA</label>
        </div>
      </div>

      <div class="row">
        <div class="small-12 medium-6 large-6 columns location-radio">
          <input type="radio" id="location-riverside" name="region" value="Riverside, CA" />
          <label for="location-riverside">Riverside, CA</label>
        </div>
        <div class="small-12 medium-6 large-6 columns location-radio">
          <input type="radio" id="location-la" name="region" value="Los Angeles, CA" />
          <label for="location-la">Los Angeles, CA</label>
        </div>
      </div>

      <div class="row">
        <div class="small-12 medium-6 large-6 columns location-radio">
          <input type="radio" id="location-san-diego" name="region" value="San Diego, CA" />
          <label for="location-san-diego">San Diego, CA</label>
        </div>
        <div class="small-12 medium-6 large-6 columns location-radio">
          <input type="radio" id="location-austin" name="region" value="Austin, TX" />
          <label for="location-austin">Austin, TX</label>
        </div>
      </div>

      <div class="row">
        <div class="small-12 medium-6 large-6 columns location-radio">
          <input type="radio" id="location-twin-cities" name="region" value="Twin Cities, MN" />
          <label for="location-twin-cities">Twin Cities, MN</label>
        </div>
      </div>

    </div>
    <div class="signup-field">
      <label class="signup-title" for="name">Name (Required)</label>
      <input id="name" name="name" type="text" />
    </div>

    <div class="signup-field">
      <label class="signup-title" for="church-name">Name of Church (Required)</label>
      <input id="church-name" name="church_name" type="text" />
    </div>

    <div class="signup-field">
      <label class="signup-title" for="phone">Phone</label>
      <input id="phone" name="phone" type="tel" />
    </div>

    <div class="signup-field">
      <label class="signup-title" for="email">Email</label>
      <input id="email" name="email" type="email" />
    </div>

    <div class="signup-button-row">
      <button type="submit" id="signup-close" class="grey-button modal_close">Close</button>
      <button type="submit" id="signup-submit" class="green-button" href="#">Sign Up »</button>
    </div>
   </form>
</div>

<script>
$(".signup-button").leanModal({closeButton: ".modal_close", close: true});

$('#signup-submit').click(function(e) { 
  e.preventDefault(); 

  data = $('#signup-form').serialize();
  $("#signup-form :input").prop("disabled", true);
  $("#signup-close").prop("disabled", false);

  messageSuccess = function(message) {
    $("#signup-status").removeClass().addClass('alert-success');
    $("#signup-status").text(message);
  }

  messageError = function(message) {
    $("#signup-status").removeClass().addClass('alert-error');
    $("#signup-status").text(message);
  }

  onSuccess = function(response) {
    success = response['success'];
    if (!success) {
      $("#signup-form :input").prop("disabled", false);
      messageError(response['message']);
      return;
    }

    $("#signup-submit").hide();
    $("#signup-close").addClass("green-button").removeClass("grey-button");
    $("#signup-close").text("Done");
    messageSuccess(response['message']);
  };

  onAjaxError = function(response) {
    $("#signup-form :input").prop("disabled", false);
    messageError('We were unable to save your information at this time due to an unknown error. Please come back and try again later. We apologize for the inconvenience.');
  };

  $.ajax({
      url: 'https://script.google.com/macros/s/AKfycbyM_JJxG113Dp01nbvKPi_WLvq51slTrnYYJWv2abO1_rDiAfI/exec',
      jsonpCallback: "signup_result",
      dataType: "jsonp",
      data: data,
      success: onSuccess,
      error: onAjaxError,
  });
});

</script>
