.aDay {

  .smallGroup {
    padding:80px 120px;
  }
  .title {
    font-size:28px;
    line-height:47px;
    margin-bottom: 50px;
  }
  .description {
    margin: 30px 0 0;
  }

  .messages {
    padding:140px 80px;
    background-color: $white;

    .main {
      display: flex;
      flex-direction: row;
      
      .image {
        background:#ccc;
        width:560px;
        height:330px;
      }

      .content {

      }
    }
    
  }
}