.page-content button {
  background-color: $orange;
  border-color: $orange;
  border-radius: 4px;
  border-style: solid;
  color: #FFF;
}

.page-content button:hover {
  background-color: $bright-orange;
  border-color: $bright-orange;
}

.home {
  .background-content {
    background-image: url("/assets/home/ih_church_welcome.jpg");
    background-size: cover;
    text-align: center;
    height: 550px;
    min-width:1000px; // worry about responsive-ness later
    background-color:#DDD;
    padding:200px 280px 15px 300px;

    .description {
      padding:40px 50px 40px 50px;
      min-width:510px;
      background-color:#FBFBFB;
      opacity: 0.98;
      font-size: 16px;
      .title {
        text-transform: uppercase;
        font-size: 30px;
      }

      button {
        margin:20px 0 0 0;
        padding: 15px 20px;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 20px;
      }
    }
  }

  .services-section {
    background-color: $white;
    width: 100%;
    padding: 40px 0;

    .service {
      padding: 10px 0;

      .title {
        font-size: 17px;
        line-height: 21px;
        margin: 16px 0;
      }

      .description {
        font-size: 14px;
        line-height: 20px;
      }

      .services-link {
        a {
          font-size: 15px;
          color: $orange;
        }
      }
    }
  }

  .locations-section {
    background-color: $grey-background;
    padding: 64px 0;

    .location-map {
      .location-map-shown {
        display: inline-block;
      }

      .location-map-hidden {
        display: none;
      }
    }

    .location-list {
      .title {
        font-size: 26px;
        line-height: 33px;
       }

       .location-text {
         padding-bottom: 20px;

         .location-tabs {
           padding-top: 4px;

           a {
             padding: 8px;
           }

           .location-tab-selected {
             background-color: #fff;
             border-color: #fff;
             border-radius: 4px;
             color: $orange;
           }
         }
       }

       ul {
         display: inline;
         margin-left: 0;
       }

       li {
         display:inline;
         list-style-type: none;
         padding: 5px 5px 5px 0;
         margin: 0 20px 0 0;
         font-size: 14px;
         line-height: 20px;
       }
    }
  }

  .promo-video-section {
    background-color: $white;
    padding: 80px 0;

    .video {
      text-align: center;
    }

  }

  .signup-section {
    text-align:center;
    padding:75px 140px 75px 145px;
    min-width:1000px; // worry about responsive-ness later

    .title {
      font-size: 38px;
      line-height: 43px;
    }

    .description {
      font-size: 16px;
      line-height: 22px;
      margin: 15px 0;
    }

    .signup-form {
      text-align: center;
      input {
        vertical-align: middle;
        display: inline-block;
        border: 1px solid #b9b9af;
        padding: 15px 20px;
        min-width: 200px;
        max-width: 200px;
        min-height: 37px;
        font-size: 14px;
        margin: 0 5px 0 5px;
      }
      button {
        vertical-align: middle;
        display: inline-block;
        height: 37px;
        font-size: 14px;
        line-height: 20px;
        margin: 0 5px 0 5px;
        padding: 10px 20px;
        text-transform: uppercase;
      }
    }

  }

}
