/* CSS for signup modal. See signup_modal.html */

/* Black background for popup */
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#signup-modal {
  display: none;
  background: #fff;
  opacity: 0.80;
  max-width: 600px;
  padding: 20px;

  .signup-button-row {
    text-align: right;
  }
  
  .signup-title {
    font-size: 0.9em;
  }

  .alert-error {
    background-color: #fff5f5;
    border: 1px solid #ddd;
    border-left-color: #e44;
    margin-bottom: 8px;
    border-left-width: 5px;
    padding: 15px;
  }

  .alert-success {
    background-color: #f9fff9;
    border: 1px solid #ddd;
    border-left-color: #5b5;
    margin-bottom: 8px;
    border-left-width: 5px;
    padding: 15px;
  }

  select {
    margin: 0 0 1rem 0 !important;
  }

  .grey-button {
    background-color: #aaa;
  }

  .grey-button:hover {
    background-color: #bbb;
  }

  .green-button {
    background-color: #5a5;
  }

  .green-button:hover {
    background-color: #8d9;
  }

  button {
    border-radius: 4px;
    margin-left: 4px;
    color: #fff;
  }
}
