.about-us .full-width {
  width: 100%;
}

.about-us .main-image-container {
  background: #fff;
}

.about-us .picture-grid {
  padding-top: 60px;
}

.single-picture img {
  position: relative;
}

.single-picture .picture-overlay {
  position: absolute;
  top: 70px;
  left: 0;
  text-align: center;
  width: 100%;
  display: none;
  background-color: #f4a330;
  opacity: 0.5;
}

.single-picture:hover .picture-overlay {
  display: inline;
}

.about-us .statement {
  font-size: 32px;
  text-align: left;
}

.about-us .statement-centered {
  font-size: 32px;
  text-align: center;
  padding-bottom: 30px;
}

.about-us .statement-text {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  padding-bottom: 24px;
}

.about-us .our-mission {
  background: #fff;
  padding-bottom: 30px;
  padding-top: 30px;
}

.about-us .signup-section {
  text-align: center;
  padding: 75px 140px 75px 145px;
  min-width: 1000px; 
}

.about-us .signup-section .title {
  font-size: 38px;
  line-height: 43px; 
}

.about-us .signup-section .description {
  font-size: 16px;
  line-height: 22px;
  margin: 15px 0; 
}

.about-us .signup-section .signup-form {
  text-align: center; 
}

.about-us .signup-section .signup-form input {
  vertical-align: middle;
  display: inline-block;
  border: 1px solid #b9b9af;
  padding: 15px 20px;
  min-width: 200px;
  max-width: 200px;
  min-height: 37px;
  font-size: 14px;
  margin: 0 5px 0 5px; 
}

.about-us .signup-section .signup-form button {
  vertical-align: middle;
  display: inline-block;
  height: 37px;
  font-size: 14px;
  line-height: 20px;
  margin: 0 5px 0 5px;
  padding: 10px 20px;
  text-transform: uppercase; 
}

.about-us .statement-of-faith {
  text-align: center;
  padding: 5px 0 10px 0;
}

