body {
  font-family: 'Montserrat', sans-serif !important;
  background: #f4f7f8 !important;
}

.email {
  color: #f4a330;
}

.state {
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
  padding: 50px 0 15px 0;
}

.whiteBG {
  background: #fff;
}

.contentfooter {
  padding: 80px 0 0 0;
}

.fullborder {
  border-bottom: 1px solid #f4a330;
}

.city {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
